@tailwind base;
@tailwind components;
@tailwind utilities;

.spotlight-input > div,
.spotlight-input div[data-slot="input-wrapper"],
.spotlight-select button {
  background-color: #fff !important;
}

html,
body {
  overflow-x: hidden;
}

.spotlight-input div {
  box-shadow: none !important;
}
